In [254]:
import pandas as pd

In [255]:
file_path = "/Users/emiliodulay/Documents/Programming/Math-42-Final-Project/GLHYD_data_metric.csv"
df = pd.read_csv(file_path)
df.shape

(1284, 7)

# Formatting

In [256]:
df.head(15)

,# Coordinated Monthly Mean Lakewide Average Water Levels,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,# Period of record: 1918-2023,NaN,NaN,NaN,NaN,NaN,NaN
1,"# Units: meters, IGLD 1985",NaN,NaN,NaN,NaN,NaN,NaN
2,# Calculated using the coordinated gage networ...,NaN,NaN,NaN,NaN,NaN,NaN
3,"# Superior: Marquette and Point Iroquois, MI; ...",NaN,NaN,NaN,NaN,NaN,NaN
4,"# Michigan-Huron: Harbor Beach, Mackinaw City ...",NaN,NaN,NaN,NaN,NaN,NaN
5,"# St. Clair: St. Clair Shores, MI and Belle Ri...",NaN,NaN,NaN,NaN,NaN,NaN
6,"# Erie: Toledo and Cleveland, OH; Port Stanley...",NaN,NaN,NaN,NaN,NaN,NaN
7,"# Ontario: Oswego and Rochester, NY; Cobourg, ...",NaN,NaN,NaN,NaN,NaN,NaN
8,#,NaN,NaN,NaN,NaN,NaN,NaN
9,# Last modified March 2024 Contact: Deanna.C.F...,NaN,NaN,NaN,NaN,NaN,NaN
10,#,NaN,NaN,NaN,NaN,NaN,NaN
11,month,year,Superior,Michigan-Huron,St. Clair,Erie,Ontario
12,jan,1918,183.25,176.71,174.59,173.9,74.74
13,feb,1918,183.2,176.73,174.74,173.82,74.72
14,mar,1918,183.17,176.8,174.74,174.01,74.92

In [257]:
notes = []
for i in range(0,10):
    notes.append(df.iloc[i,0])
    
notes

['# Period of record: 1918-2023',
 '# Units: meters, IGLD 1985',
 '# Calculated using the coordinated gage network, consisting of:',
 '# Superior: Marquette and Point Iroquois, MI; Duluth, MN; Michipicoten and Thunder Bay, Ontario',
 '# Michigan-Huron: Harbor Beach, Mackinaw City and Ludington, MI; Milwaukee, WI; Thessalon and Tobermory, Ontario',
 '# St. Clair: St. Clair Shores, MI and Belle River, Ontario',
 '# Erie: Toledo and Cleveland, OH; Port Stanley and Port Colborne, Ontario',
 '# Ontario: Oswego and Rochester, NY; Cobourg, Port Weller, Toronto, and Kingston, Ontario',
 '#',
 '# Last modified March 2024 Contact: Deanna.C.Fielder@usace.army.mil']

In [258]:
df.columns = df.iloc[11,:] # Rename columns to month, year and lake
df = df.iloc[12:,:].reset_index()
df = df.drop('index', axis = 1)
df.columns.name = 'index' # rename index column to index

In [260]:
df['month'] = df['month'].map({
                'jan' : 1,
                'feb' : 2,
                'mar' : 3,
                'apr' : 4,
                'may' : 5,
                'jun' : 6,
                'jul' : 7,
                'aug' : 8,
                'sep' : 9,
                'oct' : 10,
                'nov' : 11,
                'dec' : 12
                })

df.head()

index  month  year Superior Michigan-Huron St. Clair    Erie Ontario
0          1  1918   183.25         176.71    174.59   173.9   74.74
1          2  1918    183.2         176.73    174.74  173.82   74.72
2          3  1918   183.17          176.8    174.74  174.01   74.92
3          4  1918   183.14         176.89    174.84  174.02    75.1
4          5  1918   183.22         176.99       175  173.98   75.09

In [261]:
# Makes Lake a column 
df_melt = pd.melt(frame = df, 
                  id_vars = ["month", "year"], 
                  value_vars = ["Superior", "Michigan-Huron", "St. Clair", "Erie", "Ontario"],
                  var_name = "Lake",
                  value_name = "Water Level"
                  )

In [262]:
df_melt.shape

(6360, 4)

In [263]:
df.tail(5)

index  month  year Superior Michigan-Huron St. Clair    Erie Ontario
1267       8  2023   183.67          176.7    175.52  174.59   75.06
1268       9  2023   183.63         176.64    175.44  174.55   74.88
1269      10  2023   183.55         176.56    175.28  174.39   74.66
1270      11  2023   183.46         176.51    175.17  174.29   74.49
1271      12  2023   183.37         176.44    175.13  174.26   74.49

# Data Cleaning

In [264]:
df_melt.isna().sum()

month          0
year           0
Lake           0
Water Level    0
dtype: int64

In [265]:
df_melt.isnull().sum()

month          0
year           0
Lake           0
Water Level    0
dtype: int64

# Exploratory Data Analysis

In [277]:
df_melt.groupby('Lake')["Water Level"].mean()

TypeError: agg function failed [how->mean,dtype->object]

# Our Model